<?xml version="1.0"?>
<ruleset name="bestit/ShopwareMageTasks">
    <config name="testVersion" value="7.4" />

    <rule ref="BestIt">
        <exclude name="BestIt.DocTags.RequiredClassTags.TagOccurrenceMinAuthor" />
    </rule>

    <rule ref="BestIt.Functions.NoSimplePropertyMethod.ShouldUseTypedPropertyDirectly">
        <exclude-pattern>.app/src/LocalFilesystemAwareTrait.php</exclude-pattern>
        <exclude-pattern>.app/src/Task/Shopware/UpdateLegacyPluginsTask.php</exclude-pattern>
    </rule>

    <rule ref="BestIt.NamingConventions.CamelCaseVariable.NotCamelCase">
        <exclude-pattern>.app/tests/Task/Env/CreateEnvFileTaskTest.php</exclude-pattern>
    </rule>

    <file>./src/</file>
    <file>./tests/</file>
</ruleset>
